---
layout: default
title: Tags
permalink: /tags/
---

<section class="tags-index">
    <h2 class="section-title">{{ site.data.translations[site.active_lang].tags.all_tags }}</h2>

    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
        {% assign tag_name = tag[0] %}
        {% assign posts = tag[1] %}

        <div class="tag-section">
            <h3 class="tag-title">
                <a href="{{ '/tags/' | append: tag_name | append: '/' | relative_url }}">#{{ tag_name }}</a>
                <span class="tag-count">({{ posts.size }})</span>
            </h3>

            <div class="tag-posts">
                {% for post in posts %}
                    <div class="tag-post-item">
                        <span class="post-date">{{ post.date | date: site.data.translations[site.active_lang].date_format }}</span>
                        <a href="{{ post.url | relative_url }}" class="post-title">{{ post.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>